@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

body {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 1.18182;
  color: #333333;

  background-color: #f2f2f2;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  line-height: 1.25;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  padding: 0 70px;
}

.navigation {
  display: flex;
  flex-direction: row;
}
.logo {
  margin-right: 30px;
}
.logo-image {}
.navigation-list {
  display: flex;
  width: 465px;
  margin: 0;
  padding: 0;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;

  list-style: none;
}
.navigation-item {}
.navigation-link {
  text-decoration: none;
  color: #000000;
}
.navigation-link-current {}

.navigation-user {
  display: flex;
  justify-content: flex-end;

  width: 310px;

  margin: 0 0 0 auto;
  padding: 0;

  list-style: none;
}
.navigation-user-item {}
.navigation-user-link {
  text-decoration: none;
}
.user-search {}
.user-favorites {}
.count {
  font-size: 10px;
  color: #ffffff;

  background-color: #7db54f;
}
.button-want {}

.page-main {
  flex-grow: 1;
}

.hero {
  text-align: center;

  background-color: #64748b;
  background-image: url("../images/background/divider.svg"), url("../images/background/index-background.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
}
.hero-image {}

.features {
  text-align: center;
}
.features-title {
  width: 660px;
  margin: 0 auto;

  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
}
.features-text {
  width: 660px;
  margin: 0 auto;
}
.features-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 1.16667;

  list-style: none;
}
.features-list li:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}
.features-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}
.features-list li.features-item-special {
  background-color: #82b3d3;
}
.features-item:not(:nth-child(4n+1)) {
  width: 400px;
}
.features-item-container {
  width: 400px;
}
.features-item-title {
  font-size: 24px;
  text-transform: uppercase;
  color: #000000;
}
.features-item-text {}
.features-item-special {
  display: flex;
  color: #ffffff;
}
.features-item-special .features-item-title {
  color: #ffffff;
}
.features-item-image {
  vertical-align: middle;
}
.features-item-reverse {
  flex-direction: row-reverse;
}

.service {
  text-align: center;
}
.service-title {
  width: 510px;
  margin: 0 auto;

  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
}
.service-text {
  width: 510px;
  margin: 0 auto;
}
.service-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 1.16667;

  list-style: none;
}
.service-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}
.service-list li:nth-child(even) {
  background-color: #ffffff;
}
.service-item {
  width: 400px;
}
.service-item-title {
  font-size: 24px;
  text-transform: uppercase;
  color: #000000;
}
.service-item-text {}

.search {
  width: 600px;
  margin: 0 auto;
  text-align: center;

}
.search-title {
  font-size: 30px;
  line-height: 1.2;
  color: #000000;
  text-transform: uppercase;
}
.search-text {
  line-height: 1.18182;
}
.button-search {}

.newsletter {
  text-align: center;
}
.newsletter-background {
  color: #ffffff;

  background-color: #64748b;
  background-image: url("../images/background/subscribe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.newsletter-title {
  width: 490px;
  margin: 0 auto;

  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}
.newsletter-text {
  width: 490px;
  margin: 0 auto;

  line-height: 1.18182;
}

.newsletter-form {
  width: 684px;
  margin: 0 auto;
}
.field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 1.33333;
  color: #000000;
  opacity: 0.6;
}

.page-footer {
  display: flex;
  flex-direction: row;
}
.social {
  width: 190px;
  margin-right: 195px;
}
.social-list {
  list-style: none;
}
.social-item {}
.button-social {}
.button-vk {}
.button-tg {}
.button-yt {}

.contacts {
  width: 350px;

  font-size: 40px;
  font-style: normal;
  line-height: 1;
  text-align: center;

}
.footer-contacts-link {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.developer {
  width: 160px;
  margin-left: auto;
}
.developer-link {}

/*---CATALOG.HTML---*/

.catalog-background {
  color: #ffffff;
  background-color: #64748b;
  background-image: url("../images/background/filter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header {}
.inner-header-title {
  font-size: 60px;
  line-height: 1.3;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
}
.breadcrumbs-item {}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 1.3125;
  text-decoration: none;
  color: #ffffff;
}
.breadcrumbs-link-index {}
.breadcrumbs-link-current {}

.catalog-result {}
.catalog-filter {
  display: flex;
  flex-direction: row;
}
.catalog-filter-group {}
.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.catalog-filter-list {
  list-style: none;
}
.catalog-filter-item {}
.control {
  font-size: 18px;
  line-height: 1.27778;
}
.control-input {}
.input-group {}
.label-range {
  font-size: 18px;
  line-height: 1.33333;
  opacity: 0.3;
}
.label-range-from {}
.label-range-to {}
.input-range {}
.buttons {
  display: flex;
  flex-direction: column;
}
.button-bg-second {
  background-color: #82b3d3;
}

.button-reset {
  background-color: rgba(0, 0, 0, 0);;
  border: none;
}

.result-control {
  display: flex;
  flex-direction: row;
}
.result-search {}
.search-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.select-control {
  margin-left: auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 1.16667;
  color: #333333;
}

.sorting {
  list-style: none;
}
.sorting-item {}
.button-sorting {}
.button-title {}
.button-current {}
.button-card {}
.button-list {}

.catalog-list {
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 20px;

  font-size: 18px;
  line-height: 1.16667;
}
.catalog-item {
  width: 340px;
}
.catalog-link {
  text-decoration: none;
}
.catalog-image {}
.catalog-title {
  font-size: 24px;
  color: #000000;
}
.catalog-type {}
.catalog-price {}
.button-add-favorites {}
.button-in-favorites {}
.catalog-stars {}
.catalog-stars-1 {}
.catalog-stars-2 {}
.catalog-stars-3 {}
.catalog-stars-4 {}
.catalog-stars-5 {}
.catalog-rating {
  font-size: 16px;
}

.pagination {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0 8px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
}
.pagination-item {
  width: 60px;
}
.pagination-link {
  display: inline-block;
  width: 60px;

  text-align: center;
  color: #000000;
  text-decoration: none;

  background-color: #82b3d3;
}
.pagination-current {
  background-color: #f2f2f2;
}
.pagination-decoration {}
